@font-face {
    font-family: polyFont;
    src: url(fonts/polyfont.ttf);
}

#info {
    position: absolute;
    top: 35%;
    width: 100%;
    padding: 0px;
    z-index: 100;
}

a {
    color: #0080ff;
}

b {
    color: orange
}

.info_box {
    width: 90vh;
    margin: auto;
    padding: 2%;
    border-radius: 2vh;
    background-color: rgba(255, 246, 246, 0.55);
}

.play_button {
    font-size: 10vh;
    font-family: polyFont;
    color: black;
    cursor: pointer;
}

#title {
    margin: 0;
    padding-top: 5%;
}

.controls {
    padding-top: 5vh;
    padding-bottom: 4vh;
    font-size: 1.1em;
}

b {
    color: #b90404
}