
.color-dash {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
}

.pick-checkpoint {
    position: absolute;
    width: 100%;
    height: 10vh;
    top: -10vh;
    transition: top 0.5s;
}

.pick-checkpoint .rules-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #1b1b1bf0;
}

.pick-checkpoint p {
    font-family: arial, helvetica;
    font-size: 2vw;
    color: white;
    margin: 0;
}

.pick-checkpoint b {
    color: #a1f731;
}

.rules {
    position: absolute;
    width: 100%;
    top: calc(50% - 15vh);
    transform: scale(1.5);
    transition: transform 0.5s, top 0.5s;
}

.rules-container {
    width: 30vw;
    margin: auto;
    background-color: #1b1b1bf0;
    border-radius: 10px;
}

.keys-container {
    padding-top: 2vw;
    display: flex;
    margin: auto;
    justify-content: center;
}

.key {
    display: flex;
    width: 5vw;
    height: 5vw;
    margin: 1%;
    background-color: #d2d2d2;
    border-radius: 5px;
    text-align: center;
    font-family: arial, helvetica;
    color: black;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    font-weight: 600;
    box-shadow: 0 0 2px 1px black;
    border-bottom: 0.5vw solid grey;
    transition: all 0.1s;
}

.long-key {
    width: 20vw;
}

.orbit-text {
    text-align: center;
    font-family: arial, helvetica;
    font-size: 2vw;
    color: white;
    padding-bottom: 0.5em;
}